.app{
  display: flex;
  justify-content: center;

}
.game{
  width: 530px;
  height: 530px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  background-color: white;
  border-radius: 20px;
}
.game img {
  width: 60px;
  height: 60px;
}
.grid-container {
  background-color: #affafd;
  padding: 5px;
  margin: 0 15%;
  height:auto;
  border-radius: 30px;
}

@media screen and (max-width: 768px){
  .grid-container {
    background-color: #2196F3;
    padding: 10px;
    margin: 0 5%;
    height:auto;
  }
}